<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .breadcrumb,
        .form-inline {
            margin-left: 17px;
        }
        
        .navbar-link.my-logout {
            font-size: 22px;
            color: #ff0217;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">欢迎登录后台管理系统</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <p class="navbar-text navbar-right">欢迎登陆
                            <a href="/logout" class="navbar-link my-logout">登出</a>
                        </p>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">学生管理</a></li>
                    <li role="presentation"><a href="#">系统管理</a></li>
                    <li role="presentation"><a href="#">用户管理</a></li>
                    <li role="presentation"><a href="#">修改密码</a></li>
                    <li role="presentation"><a href="#">退出系统</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <ol class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">学生管理</a></li>
                        <li class="active">学生列表</li>
                    </ol>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon">学生姓名</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入学生姓名进行查询">

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">查找</button>
                        <button type="submit" class="btn btn-primary">新增</button>
                    </form>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>性别</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>手机号</th>
                                    <th>操作</th>
                                </tr>
                                <tr>
                                    <td>小何</td>
                                    <td>38</td>
                                    <td>男</td>
                                    <td>8208808820</td>
                                    <td>
                                        <a class="btn btn-success btn-sm">编辑</a>
                                        <a class="btn btn-success btn-sm">删除</a>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>